@charset 'utf-8';
* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
:root {
  --mw: 1280px;
}
.hd {
  max-width: var(--mw);
  margin: auto;
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.hd img {
  /* border: 1px solid black; */
  width: 50%;
}
.hd > .join_menu {
  display: flex;
  font-size: 14px;
}
.join_menu > a {
  /* border: 1px solid red; */
  white-space: nowrap;
}
.join_menu a::after {
  content: "";
  border: 1px solid black;
}
.ham {
  position: absolute;
  right: 2rem;
  top: 0.5rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.ham span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}
.ham span:nth-of-type(1) {
  top: 0;
}
.ham span:nth-of-type(2) {
  top: 50%;
}
.ham span:nth-of-type(3) {
  bottom: 0;
}
.menu {
  border: 1px solid red;
  max-width: var(--mw);
  margin: auto;
  display: none;
  justify-content: space-between;
}
.menu.on {
  display: flex;
}
.menu_zip {
  position: relative;
  border: 1px solid black;
  text-align: center;
  width: 100%;
}

.menu_zip:hover {
  background-color: #959595;
}
.menu_zip > a {
  color: black;
}
.menu_zip > a:hover {
  color: white;
}
.menu_zip > .submenu {
  display: none;
  position: absolute;
  border: 1px solid red;
  width: 100%;
}
.menu > .menu_zip:hover .submenu {
  display: block;
  background-color: #959595;
}
.submenu > li a {
  color: black;
}
.submenu > li a:hover {
  color: white;
}
.headline {
  border: 1px solid red;
  position: relative;
}
.headimg img {
  width: 100%;
}
.h_txt h1 {
  position: absolute;
}
.banner {
  width: var(--mw);
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: #959595;
  overflow: hidden;
}
.banner img {
  box-sizing: border-box;
  width: 30%;
  padding: 1rem 1rem;
}
.banner img:hover {
  transform: scale(1.4);
}
.banner2 {
  width: var(--mw);
  margin: auto;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.banner2 > .left {
  width: 99%;
}
.left .notice_title {
  color: black;
  font-weight: bold;
  font-size: 28px;
}

.notice_txt > a {
  padding-top: 0.5rem;
  color: black;
  display: flex;
  border-bottom: 0.5px solid black;
  justify-content: space-between;
}
.notice_txt a:hover {
  color: red;
}
.notice_txt a > span {
  color: #959595;
  font-size: 12px;
}
.notice_txt a > span:hover {
  color: red;
}
.right {
  width: 99%;
}
.right img {
  width: 20%;
}
@media (max-width: 1000px) {
}
